body {
  margin: 0;
  background-color: #111319;
  color: #fff;
  /* color: purple; */
}
.body-wrapper {
  /* max-width: ; */

  /* max-width: max-content; */
  align-items: center;

  padding-top: 35px;
  /* padding-left: 3%; */
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header {
  top: 0;
  height: 45px;
  position: fixed;
  z-index: 10;
  opacity: 1;
  width: 100%;
  background-color: #0a0c0f;
  /* sementara */
  /* background-color: rgb(226, 226, 93); */
  color: #fff;
  height: 100px;
  display: flex;
  float: left;
}

.side-bar {
  display: none;
}
.header-list span {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* display: none; */
}

.logo {
  width: 150px;
  height: 100px;
}

.header-list {
  display: flex;
  /* color: #fff; */
  margin: 0px;
  padding: 40px 10px;
  text-align: center;
}
.tombol-menu p {
  background-color: black;
}
.tombol-menu {
  color: gray;
  /* background-color: #0a0c0f; */
  /* background-color: rgb(255, 255, 255); */
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tombol-menu:hover {
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  /* margin-right: 20px; */
  /* padding-top: 17px; */
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover {
  text-decoration: none;
  font-family: sans-serif;
  /* color: white; */
  opacity: 1;
  cursor: pointer;
}
/* .dropdown {
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 10px;
  color: gray;
} */
.dropdown-child {
  display: none;
  background-color: #1a1c22;
  min-width: 80px;
}
.dropdown-child a {
  color: gray;
  padding: 15px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}

ul {
  list-style: none;
}

.header-list li {
  float: left;
  margin-right: 50px;
}
.header-list a {
  color: gray;
  opacity: 0.75px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
}
.container {
  margin-top: 100px;
}
a:hover {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  /* color: white; */
  opacity: 1;
}
a:active {
  /* color: white; */
  text-decoration: none;
  font-family: sans-serif;
  color: green;
  opacity: 1;
}

/* .list1:hover,
.list2:hover,
.list3:hover {
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 10px;
  color: #fff;
  margin: 0px;
  text-align: center;
  margin-right: 10px;
  color: black;
  cursor: pointer;
} */
.search {
  padding: 0px 5px;
  margin-left: 100px;
  position: relative;
}

.detail-search {
  width: 240px;
  height: 36;
  border-radius: 3px;
  padding: 10px;
  opacity: 0.75;
}
.icon-search {
  width: 120px;
  color: #000000;
  position: absolute;
  left: 150px;
  top: 12px;
}
/* .bulat { */
/* color: aqua; */
/* height: 50px; */
/* width: 50px; */
/* background-color: chartreuse; */
/* display: none; */
/* } */

.judul {
  margin-bottom: 10px;
  margin-left: 5px;
}

/* body */
.clear {
  clear: left;
}
.body-wrapper {
  font-family: "SF Pro", Roboto, "Noto Sans", sans-serif;
  /* background-color: #f4f9f4; */
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 80px;
}
.films {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 100px;
  row-gap: 75px;
  /* grid-template-columns: repeat(4); */
  /* flex-wrap: wrap; */
  /* width: 20px; */
}
.fi-film {
  /* margin-right: 50px; */
  padding: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  /* margin-bottom: 10; */
  /* flex-wrap: wrap; */
  /* grid-template-rows: repeat(4, 1000px);
  grid-template-columns: repeat(3, 1fr); */
}
.judul {
  /* top: 4%; */
  /* width: 100%; */
  /* right: 20px; */
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  /* text-align: justify; */
}
img {
  border-radius: 10px;
  /* margin-left:100px; */
}
.title h1 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}

.deskripsi-film {
  position: absolute;
  bottom: 30px;
  /* tanda */
  width: 100%;
  color: rgb(255, 254, 254);
  margin-left: 10px;
  font-size: 15px;
  cursor: none;
}

.fi-film:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.detail-film {
  top: 45%;
  position: absolute;
  padding: 30px;
  height: 100px;
  background-color: white;
  opacity: 0.8;
  display: none;
}

/* form */

.section-form {
  /* content: "";
  display: table;
  clear: both; */
  width: 100%;
  display: flex;
  /* display: flex; */
  /* padding: 30px; */

  margin-bottom: 30px;
}
.deskripsi p {
  font-size: 18px;
}
.column,
column2 {
  float: left;
  /* width: 50%; */
  padding: 10px;
}

.section-form {
  justify-content: center;
}

.column2 {
  float: right;
  width: 40%;
  padding: 10px;
  height: 500px;
  margin-left: 40px;
}
.deskripsi {
  /* problemmmmmmmmmmmmmmmmmmmmmmmm */
  /* width: auto; */
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  /* padding-top: 50px; */
  margin-right: 100px;
  margin-top: 50px;
}

/* footer */
.message-container {
  /* problemmmmmmmmmmmmmmmmmmmmmmmm */
  /* width: fit-content; */
  text-align: center;
  font-family: "Quicksand", sans-serif;
  /* font-size: 100px; */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #000000;
}

.feedback {
  /* max-width: 400px;
  width: 40%; */
  /* padding-right: 80px; */
  width: 500px;
  margin: 20px;
  /* float: left; */
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  font-family: "Quicksand", sans-serif;

  background: #000000;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

footer {
  width: 100%;
}

.footer {
  /* problemmmmmmmmmmmmmmmmmmmmmmmm */
  /* display: flex; */
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #ffffff;
  background-color: #000000;
  /* border-top: 1px solid #e5e5e5; */
}

.footer > * {
  flex: 1 100%;
  /* problemmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
  /* display: flex; */
}

.nav__title {
  font-weight: 40px;
  font-size: 20px;
  color: brown;
  margin-bottom: 20px;
}
.nav__item {
  width: 200px;
  text-align: left;
}
.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  font-family: "Quicksand", sans-serif;
}

.footer a {
  text-decoration: none;
}

.footer-list {
  display: grid;
  padding-bottom: 40px; /* border-color: rebeccapurple; */
}

.footer__nav {
  /* text-align: center; */
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-flow: row wrap;
  /* padding: 80px; */
  font-size: 18px;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  border-top: 2px solid #282a2c;
  padding-top: 15px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
